.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-dark-violet: hsl(256, 26%, 20%);
    --grayish-blue: hsl(216, 30%, 68%);

    --neutral-very-dark-violet: hsl(270, 9%, 17%);
    --neutral-dark-grayish-violet: hsl(273, 4%, 51%);
    --neutral-very-light-gray: hsl(0, 0%, 98%);
}

h1, h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    line-height: 40px;
}

h1 {
    font-size: 42px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.none {
    display: none;
}

#header {
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: var(--neutral-very-light-gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

main {
    padding-top: 70px;
}

.logo {
    width: 120px;
    height: 50px;
    background: url('./images/logo.svg') center no-repeat;
}

input[type=checkbox] {
    display:none;
}
  
input[type=checkbox] + label {
    background-image: url('./images/icon-hamburger.svg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

input[type=checkbox]:checked + label {
    background-image: url('./images/icon-close.svg');
}

.menu {
    position: fixed;
    width: 100%;
    top: 70px;
    bottom: 0;
    left: 0;

    background-color: var(--neutral-very-dark-violet);
    background-image: url('./images/bg-pattern-mobile-nav.svg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;

    color: var(--neutral-very-light-gray);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; 
}

.menu > ul {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu > ul > li {
    margin: 10px 0;
}

.menu > ul > li > a {
    text-decoration: none;
    color: var(--neutral-dark-grayish-violet);
}

.menu > ul > li > a:hover {
    color: var(--neutral-very-dark-violet);
}

.image-intro {
    width: 100%;
    min-height: 375px;
    max-height: 450px;
    background-image: url('./images/image-intro-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.border {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0);
    color: var(--neutral-very-light-gray);
    padding: 10px 30px; 
    border: 2px solid var(--neutral-very-light-gray);
}

.border:hover {
    color: var(--neutral-very-dark-violet);
    background-color: var(--neutral-very-light-gray);
}

#banner {
    position: relative;
    background: var(--primary-dark-violet);
}

.description-banner, #cards {
    padding: 80px 25px;
}

.description-banner {
    background: url("./images/bg-pattern-intro-left-mobile.svg") top left no-repeat;
    color:var(--neutral-very-light-gray);
    text-align: center;
}

.bg-intro {
    position: absolute;
    width: 124px;
    height: 330px;
    background: url('./images/bg-pattern-intro-right-mobile.svg') no-repeat;
    right: 0;
    bottom: -185px;
}

.description-banner > h1, .description-banner > p {
    padding-bottom: 25px; 
}

#cards {
    text-align: center;
    color: var(--neutral-very-dark-violet);
}

#cards > div > h1 {
    padding: 60px 0;
}

.card {
    padding: 30px 0;
}

.card > h2 {
    padding: 25px 0 10px 0;
}

.card > p {
    font-weight: 400;
    opacity: 0.5;
}

#find > div{
    height: 100%;
    text-align: center;
    color: var(--neutral-very-light-gray);
    background: url("./images/bg-pattern-how-we-work-mobile.svg") top right no-repeat var(--primary-dark-violet);
    margin: 0 20px 120px 20px;
    padding: 60px 0;
}

#find > div > h1 {
    padding: 0 80px;
    padding-bottom: 45px;
}

footer {
    background-image: url('./images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100% 200px;
    text-align: center;
}

footer > section:first-child {
    padding: 50px 0;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--neutral-dark-grayish-violet);
}

.icons {
    display: flex;
    margin: 25px 0;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.icon:hover {
    filter:brightness(20%);
}

#nav-footer > nav {
    margin: 30px 0;
}

#nav-footer > nav > h3 {
    margin: 20px 0;
    color: var(--neutral-dark-grayish-violet);
}

#nav-footer > nav > ul > li {
    margin-bottom: 10px;
    
}

#nav-footer > nav > ul > li > a {
    font-weight: 700;
    text-decoration: none;
    color: var(--neutral-very-dark-violet);
}

#nav-footer > nav > ul > li > a:hover {
    border-bottom: 1px solid var(--neutral-very-dark-violet);
}

#nav-footer > nav > h3, #nav-footer > nav > ul > li {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 720px) {   
    
    h1 {
        letter-spacing: 3px;
        font-size: 54px;
        font-weight: 700;
    }

    main {
        padding-top: 0;
    }

    header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #header {
        width: 100%;
        max-width: 1220px;
        position: relative;
        z-index: 2;
        padding: 4px 20px;
    }

    input[type=checkbox] + label {
        display: none;
    }

    .menu {
        display: flex;
        position: relative;
        width: auto;
        top: 0;
    
        background: none;
    
        color: var(--neutral-dark-grayish-violet);
        text-align: center;
        font-size: 16px; 
    }

    .menu > ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu > ul > button {
        cursor: pointer;
        color: var(--neutral-very-dark-violet);
        border: 2px solid var(--neutral-very-dark-violet);
        margin-left: 10px;
    }

    .menu > ul > li, .menu > ul > button {
        font-size: 14px;
        letter-spacing: 1.5px;
        margin-left: 25px;
    }

    .menu > ul > button:hover {
        background-color: var(--neutral-very-dark-violet);
        color: var(--neutral-very-light-gray);
    }

    #banner {
        display: flex;
        flex-direction: row;
        justify-content: center;

        background: url("./images/bg-pattern-intro-right-desktop.svg") center right no-repeat var(--primary-dark-violet);
    }
    
    #banner > div {
        text-align: start;
        width: 100%;
        max-width: 1220px;
        max-height: 450px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100%;
    }

    .description-banner {
        background: none;
        position: relative;
        text-align: start;
        grid-column: 1 / 2;
        grid-row: 1/2;
    }

    .bg-intro {
        position: absolute;
        width: 150px;
        height: 454px;
        background: url('./images/bg-pattern-intro-left-desktop.svg') no-repeat;
        left: 0;
        top: 320px;
    }

    .image-intro {
        grid-column: 2/ 3;
        justify-self: end;
        min-width: 250px;
        max-width: 400px;
        height: 450px;
        background-image: url('./images/image-intro-desktop.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        margin: 50px 25px 0 0;
    }

    #cards {
        position: relative;
        z-index: 3;
        width: 100%;
        margin: 150px 0;
        text-align: start;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cards > h1 {
        width: 100%;
        max-width: 1220px;

        margin: 50px 0;
    }

    #cards > div {
        width: 100%;
        max-width: 1220px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    #find {
        padding: 0 10px;
        width: 100%;
        padding: 0;

        display: flex;
        justify-content:center;
    }

    #find > div {
        width: 100%;
        max-width: 1220px;
        background: url("./images/bg-pattern-how-we-work-desktop.svg") top right no-repeat var(--primary-dark-violet);

        text-align: start;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 70px;
    }

    #find > div > h1 {
        padding: 0;
    }

    footer {
        max-width: 1220px;
        margin: 0 auto;
    }

    footer > section:first-child {
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-footer {
        text-align: start;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}